@import url("https://fonts.googleapis.com/css2?family=Jersey+15+Charted&family=Jersey+25&family=Micro+5+Charted&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#main-c {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  overflow-x: hidden;
}

#header {
  padding: 10px;
  font-size: 2em;
  width: 100%;
  text-align: center;
  background-color: rgb(1, 136, 129, 0.8);
  h1 {
    font-family: "Jersey 25", "Micro 5 Charted", "Jersey 15 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

#footer {
  margin: 20px 0;
  padding: 10px;
  font-size: 1em;
}

.board-c {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.player-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  h3 {
    font-size: 3em;
    font-family: "Jersey 15 Charted", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
}

.board {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 8px;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.cell {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex: 1 1 2;
  width: 3em;
  height: 3em;
  border: 1px solid #000;
  border-radius: 4px;
  color: rgb(0, 0, 0, 0.5);
  font-size: 11px;
  padding: 1em;
  /* background: rgba(169, 243, 218, 0.2); */
}

.cell:hover {
  background-color: aliceblue;
}

.show-ships {
  border: 2px solid rgb(1, 136, 129) !important;
  background-color: #018881;
  color: #fff !important;
}
.show-ships:hover {
  background-color: #018881;
}

.ships-loc-ctrl-c {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}

#modal {
  padding: 4px;
}

#status-indicator-wapper {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: 1.5em 0 0 0;
  max-height: 2em;
  font-size: 20px;
  color: rgb(1, 136, 129);
  border: 2px solid rgb(1, 136, 129, 0.8);
}

@media only screen and (min-width: 600px) {
  .cell {
    width: 4em;
    height: 4em;
  }
  .board-c {
    gap: 8em;
  }
  #modal {
    padding: 30px 60px !important;
  }

  #header {
    font-size: 3em;
    padding: 10px;
  }
}

/* Modal */
.selected-ship-display-container {
  display: flex;
  gap: 1em;
  font-size: 18px;
}
.modal-ship-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .ship-box {
    width: 1em;
    height: 1em;
    background-color: rgb(1, 136, 129, 0.5);
    border: 1px solid #018881;
  }
}
